.table__container {
    box-sizing: border-box;
    width: 100%;
    padding-left: 27px;
    padding-right: 64px;
    position: relative;
}

.table {
    border-collapse: collapse;
    box-sizing: border-box;
    width: 100%;
}

.table__header-row {
    box-sizing: border-box;
    border-bottom: 20px solid #FFFFFF;
}

.table__header-item {
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.02em;

    text-transform: uppercase;
    color: #16223F;
    opacity: 0.7;
    margin: 0;
}

.table__item {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    margin: 0; 
}

.table__item_index {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
    opacity: 0.3;
    padding-left: 24px;
}

.table__row {
    box-sizing: border-box;
    height: 39px;
}

.table__row:nth-child(odd) {
    background-color: #F3F3F3;
}

.colored-value-box {
    width: min-content;
    margin: 0;
    padding: 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    border-radius: 4px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;

    text-align: center;
}

.colored-value-box_red {
    background-color: rgba(230, 80, 73, 0.1);
    color: #FF1010;
}

.colored-value-box_green {
    background-color: rgba(60, 153, 72, 0.1);
    color: #047500;
}



