
.header {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #ffffff;
    padding: 0px 18px;
    justify-content: space-between;
    z-index: 3;
}

.logo__container {
    display: flex;
    align-items: center;
}


.logo {
    height: 64px;
    background: #000000;
    border-radius: 6px;
    margin: 0;
    padding: 0px 10px;

    font-family: "Akkurat Pro";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #ffffff;
    text-transform: uppercase;
}

.logo__title {
    font-family: "Akkurat Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 110%;
    letter-spacing: -0.02em;
    max-width: 140px;
    margin: 0;
    margin-left: 10px;
    color: #000000;
    display: flex;
    align-items: center;
}

.help__container {
    display: flex;
    align-items: center;
}

.help__button {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    margin-left: 28px;
}

.help__by {
    width: 108px;
}
